select.ui.selection.dropdown3 {
    margin: 5px;
  }
  
  .ui.container3 {
    margin: 40px;
   
  }
  
  input.field3 {
    margin:3px;
  }
  
  h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 2px 2px 2px black;
    
  }
  
  form.ui.form3 {
    /* font-size: .5rem;
    text-align: center;
    display: flex;
    flex-direction: column; */
    margin: auto;
    padding: 2%;
    width: 30%;
    box-shadow: 5px 5px 5px 5px black;
    background-color: white;
    color:  black;
    
  }
  
  .ui.button3{
    display: flex;
    flex-direction: column;
    font-size: .5rem;
    width: 20%;
    text-align: center;
    margin: auto;
    box-shadow: .5px .5px .5px .5px black;
  
  }

  .ui.button3 a {

    text-decoration: none !important;
    color: black;

  }